---

---

<a href="#" target="_blank">
    <button class="">
        <span class="border-light-blue border-2 px-[2rem] py-[0.8rem] text-light-blue font-[800] rounded-md hover:bg-light-blue duration-700 hover:text-white">Download Cv</span>
    </button>
</a>