---
---

<div class="w-screen border-b fixed shadow-lg bg-off-white">
  <nav class="flex items-center justify-between h-[3.5rem] mx-[5rem] max-sm:mx-[2rem]">
    <section class="">
      <a href="/">
          <h3 class="font-[900] text-[1.8rem] text-dark-blue hover:text-light-blue duration-700">.caio</h3>
      </a>
    </section>
    <section class="flex gap-[1rem] text-[1.3rem]">
        <a href="https://wa.me/5581986929931" target="_blank"><i class="fa-brands fa-whatsapp hover:text-light-blue duration-700"></i></a>
        <a href="https://www.instagram.com/augusto.caio.augusto/" target="_blank"><i class="fa-brands fa-instagram hover:text-light-blue duration-700"></i></a>
        <a href="mailto:caioaugusto930@gmail.com" target="_blank"><i class="fa-regular fa-envelope hover:text-light-blue duration-700"></i></a>
        <a href="https://www.linkedin.com/in/caio-augusto-a40698203/" target="_blank"><i class="fa-brands fa-linkedin-in hover:text-light-blue duration-700"></i></a>
    </section>
  </nav>
</div>
