---

---
<footer class="bg-dark-blue py-[1.5rem]">
    <section class="flex flex-col gap-[2rem] items-center justify-center">
        <a href="/">
            <h3 class="font-[900] text-[1.8rem] text-off-white hover:text-light-blue duration-700">.caio</h3>
        </a>
        <div class="flex gap-[1rem] text-[1.3rem]">
            <a href="https://wa.me/5581986929931" target="_blank"><i class="fa-brands fa-whatsapp text-off-white hover:text-light-blue duration-700"></i></a>
            <a href="https://www.instagram.com/augusto.caio.augusto/" target="_blank"><i class="fa-brands fa-instagram text-off-white hover:text-light-blue duration-700"></i></a>
            <a href="mailto:caioaugusto930@gmail.com" target="_blank"><i class="fa-regular fa-envelope text-off-white hover:text-light-blue duration-700"></i></a>
            <a href="https://www.linkedin.com/in/caio-augusto-a40698203/" target="_blank"><i class="fa-brands fa-linkedin-in text-off-white hover:text-light-blue duration-700"></i></a>
        </div>
        <p class="text-[0.85rem] text-off-white">All rights reserved © 2023 <span class="font-[900] text-light-blue">Caio Augusto</span></p>
      </section>
</footer>