---

---
<footer class="flex flex-col items-center justify-center">
    <section class="">
        <a href="/">
            <h3 class="font-[900] text-[1.8rem] text-dark-blue hover:text-light-blue duration-700">.caio</h3>
        </a>
      </section>
</footer>