---
import Button from "../components/Button.astro";
import ButtonUnderline from "../components/Button_underline.astro";

---

<section class="flex flex-col items-center justify-center pt-[13rem] max-sm:pt-[8rem]">
  <div class="w-[10rem] rounded-full shadow-2xl mb-[2.5rem]">
    <img src="https://github.com/augustCaio.png" alt="Caio Augusto" />
  </div>
  <div class="flex items-center justify-center">
    <h2 class="font-[800] text-[2rem] text-dark-blue max-sm:text-[1.5rem]">Hello</h2>
    <img
      class="w-[2rem]"
      src="https://raw.githubusercontent.com/kaueMarques/kaueMarques/master/hi.gif"
      alt="hello han"
    />
    <h2 class="font-[800] text-[2rem] text-dark-blue max-sm:text-[1.5rem]">There, I'm</h2>
  </div>
  <div class="flex items-center gap-[0.5rem]">
    <h3 class="font-[900] text-[5rem] text-dark-blue max-sm:text-[3rem]">Caio</h3><span
      class="font-[900] text-[5rem] text-light-blue max-sm:text-[3rem]">Augusto</span
    >
  </div>
  <div class="flex items-center justify-center mt-[1.5rem] gap-[1rem]">
    <Button />
    <ButtonUnderline />
  </div>
</section>
