---

---

<section class="flex items-center justify-center mt-[0.8rem] mb-[4rem]">
    <div class="flex flex-row gap-[5rem] items-center justify-center w-[60rem] h-[25rem]  p-[6rem] rounded-[1rem] shadow-2xl bg-dark-blue max-sm:w-[22rem] max-sm:flex-col max-sm:mt-[2rem]">
        <div class="max-sm:mb-auto max-sm:p-[1rem]">
            <h3 class="font-[800] text-[4rem] text-off-white max-sm:text-[2.5rem]">My Tech </h3>
            <span class="font-[800] text-[6rem] text-light-blue max-sm:text-[4rem]">Stack</span>
        </div>
        <div class="grid grid-flow-row grid-cols-2 gap-[1.5rem] max-sm:-mt-[4rem]">
            <img class="w-[7rem]" src="public/html-5-svgrepo-com.svg" alt="html5">
            <img class="w-[7rem]" src="public/css-svgrepo-com.svg" alt="css3">
            <img class="w-[7rem]" src="public/tailwindcss-icon-svgrepo-com.svg" alt="tailwind">
            <img class="w-[7rem]" src="public/git-svgrepo-com.svg" alt="git">
        </div>
    </div>
</section>