---

---

<section class="flex items-center justify-center gap-[10rem] w-auto mx-[20rem] py-[8rem] max-sm:mx-auto max-sm:flex-col max-sm:items-center max-sm:pl-[4rem]">
    <div class="border-r-2 pr-[5rem] border-dark-blue  max-sm:border-none">
        <h2 class="text-[4rem] font-[900] text-dark-blue max-sm:text-[3.8rem]">My tech</h2>
        <h2 class="text-[5.5rem] font-[900]  text-light-blue -mt-[2.5rem]">Stack</h2>
    </div>
    <div class="grid grid-flow-row grid-row-2 grid-cols-2 gap-[2rem]">
        <h3 class="font-[800] text-[1.5rem]">HTML</h3>
        <h3 class="font-[800] text-[1.5rem]">CSS3</h3>
        <h3 class="font-[800] text-[1.5rem]">TAILWIND</h3>
        <h3 class="font-[800] text-[1.5rem]">GIT</h3>
    </div>
</section>